<div class="page-header">
  <h1>Weekly Redmine issue to Email<small> 获取一周 Redmine 问题并发送 Email</small></h1>
</div>
<h2><span class="glyphicon glyphicon-list-alt"></span> 本周工作报告 <small><%=takeFivedayRange[0]%> - <%=takeFivedayRange[1]%></small></h2>
<br>
<% unless @html.to_s.empty? %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>项目</th>
        <th>跟踪</th>
        <th>主题</th>
        <th>通报日期</th>
        <th>完成日期</th>
      </tr>
    </thead>
    <tbody>
    <% @html['issues'].each do |v| %>
      <tr>
        <th><a href="<%=::CONF['Redmine']['url']%>/issues/<%=v['id']%>"><%=v['id']%></a></th>
        <th><%=v['project']['name']%></th>
        <th><%=v['tracker']['name']%></th>
        <th><%=v['subject']%> (<%=solveState(v['status']['id'])%>)</th>
        <th><%=simpleTime(v['created_on'])%></th>
        <th><%=simpleTime(v['closed_on'])%></th>
        </tr>
    <% end %>
    </tbody>
  </table>

  <span><span class="glyphicon glyphicon-info-sign"></span> 已解决表示Issue已处理，待提交人确认为已完成，反馈表示Issue已处理但仍有问题需跟进。</span>
<% else %>
  <span>生成报告需要先设置 Redmine KEY</span>
<% end %>

<hr>
<h3><span class="glyphicon glyphicon-cog"></span> KEY 设置</h3>
<br>
  <p>
    <% unless @auth.key.to_s.empty? %>
      <span><span class="glyphicon glyphicon-thumbs-up"></span> 您已提交过Redmine Key</span>
      <a href="/user/<%=session['username']%>/remove_key"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-link"></span> 移除Key?</button></a>
    <% else %>
      <form action="/" method="post"role="form">
      <div class="form-group">
        <label for="key">Redmine Key:</label>
        <br>
        <input id="key" class="form-control" name="auth[key]" type="text" value="" style="width=90%"/>
      </div>
      <button type="submit" class="btn btn-success">保存</button>
      </form>
      <br>
      <small><span class="glyphicon glyphicon-info-sign"></span> Redmine key获取位置通常位于您的Redmine 》我的账号 》API访问键 》点击显示</small>
    <% end %>
  </p>

  <p>
    <% unless @auth.email.to_s.empty? %>
      <span><span class="glyphicon glyphicon-thumbs-up"></span> 您已提交过收件人邮箱</span>
      <% @auth.email.split(/,/).each do |email| %>
        <ul>
          <li><%=email%></li>
        </ul>
      <% end %>
      <a href="/user/<%=session['username']%>/remove_emails"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-link"></span> 移除邮箱列表?</button></a>
    <% else %>
      <form action="/" method="post"role="form">
      <div class="form-group">
        <label for="email">收件人邮箱列表:</label>
        <br>
        <input id="email" class="form-control" name="auth[email]" type="text" value="" style="width=90%"/>
      </div>
      <button type="submit" class="btn btn-success">保存</button>
      </form>
      <br>
      <small><span class="glyphicon glyphicon-info-sign"></span> 保存一个或一组周报收件人邮箱，用逗号分隔</small>
    <% end %>
  </p>
